/* --------------------------------- 
grün: #94c01a
grau: #6f6f6e

------------------------------------*/



* {
	margin:0;
	padding:0
}
body {
	margin:0;
	padding:0;
	font-family: Tahoma,Geneva,sans-serif;
	font-size: 12px;
	line-height:1.5em;
    color:#333;    
        background: url('../img/bg.png') repeat top left;
}


#main-wrapper {
    margin:0 auto;
    width:960px;
                    background:white;
                    padding:20px 20px 20px 20px;
}

#header {
	/* #LM  background: url(/img/headerbg.png) no-repeat; */
	z-index: -1000;
    }

    #logo {
        float:left;
        margin-top:0px;
        background: url('../img/gemoab-logo-220.png') no-repeat top left;
        width:225px;
        height:110px; 

    }
    #site-links {
        float:right;
        margin:-20px  0;
        }
        #site-links .portletHeader {
            display:none;
        }
        #site-links ul {
            list-style-type: none;    
            margin-top:4px;
        }
        #site-links ul li {
            display: inline;
            padding:0px 2px;
            color:#ccc;
        }
        #site-links ul li a,
        #site-links ul li a:hover {
            text-decoration:none;
            padding-right:6px;
        }

	#searchbox {
	    display:block;		
	}

    #navigation {
	    width:  960px;
	    margin: 0;
	    background: url('../img/nav-bg-white-2.png') no-repeat;
                                                        background-image:none;
                                                        background-color:#efefef;
        height:43px;
        }
	    #navigation ul {
            margin:0;
            padding:0;
        }
	    #navigation ul li {
		    display: inline;
    		position: relative;
		    float: left;
		    color: #FFF;    
        }

	    #navigation ul li a {
		    color: #666666;
		    font-size: 12px;
		    font-family: Arial;
		    padding-top: 15px;
		    font-weight: bold;
		    text-decoration: none;

        }

	    #navigation ul li a:hover,
        #navigation ul li a.highlight,
        #navigation ul li a.selected {
		    /*  background: url('../img/navigation-hover.png') repeat-x scroll center top transparent;  */
		    background-color: #ccc;
                        background-color:#94c01a;
        	color: #94c01a;
                        color:white;
    	    }
            #navigation ul.navTreeLevel3 li a {
               margin:0;
               height:auto;
            }

        #slider {
            height:200px;
		    background:  url('../img/f4g.jpg') no-repeat scroll left top #94c01a;
        }

#breadcrumbs {
    padding:0.2em 0 ;
    background-color:#fcfcfc;
    font-style:italic;    
    border-top:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
    margin-top: 5px;
}

    #carousel {
        height:auto!important;
        max-height:260px !important;
        }
	    .mscarousel {overflow:hidden}
	    .mscarousel img{border:0}
	    .mscarousel .child{position:relative;}
	    .mscarousel .child .set, .mscarousel .set{float:left; position:relative;}
	    .mscarousel .child .set .message, .mscarousel .set .message{/*position:absolute; top:0; left:0; background-color:#333333; color:#fff; display:none;*/}
	    .mscarousel .child .clear{clear:both}
	    .hand{cursor:pointer}

	    .mscarousel {
	        overflow-x:hidden;
	        overflow-y:hidden;
	        _overflow-x:none;
	        _overflow-y:none;
	        float:left;
	        display:inline;
	        white-space:nowrap;
	
        }
        .mscarousel img {
	        border:0
        }
        .mscarousel .child {
	        position:relative;
        }
        .mscarousel .set {
	        float:left;
	        position:relative;
        }

        .mscarousel .clear {
	        clear:both
        }

    .portletHeader {
        /*padding-top:1em;*/ /* selcuk */
        font-size:160%;
        border-bottom:1px dotted #ccc;
                                    font-weight: normal;
    }

#content-wrapper {
        background-color:white;    
        border:1px solid #ccc;
        border-radius: 1px 1px 1px 1px;
                border:none;
    }
    #column-content {
        float:left;
        min-height:400px;
        width:740px;
        padding:10px 0px;
    }
    #column-two {
        float:right;
        width:200px;
        padding:10px 0px 20px 0;
    }

    #footer {
        background-color:#efefef;
        border-top:2px dotted white;
        padding:1em 20px;
        margin:2em 0;
        font-size:86%;
        color:#666;
    }
    #footer h1 {
        color:#666;
    }
    #footer p {
        color:#666;
    }

    .portletItem h2 {
        font-size:120%;
    }

    #content-wrapper p,
    #content-wrapper dl, 
    #content-wrapper dd, 
    #content-wrapper li {
        margin:12px 0 1em 0;
    }





.visual-clear {
    clear:both;
}
.hiddenStructure {
    display:none;
}



/* Schrift, Farbe */

#content p {
}


h1,h2,h3,h4,h5,h6 {
    margin:1em 0 0.5em 0;
    line-height:1.25em;
}

h1 {font-size:140%; margin-top:1.5em;}
h2 {font-size:122%;}
h3 {font-size:114%;}
h4 {font-size:106%;}
h6 {font-size:100%;}

h1,h3,h5 {
    color:#ee7501;
                                color:#94c01a;
    text-decoration:none;
}
h2,h4,h6 {
    color:#606060;
}
h1.documentFirstHeading {
    margin-top:10px;
    font-size:200%; 
            font-weight:normal;
    margin-left:0px;
    padding-left:0px;
    border-bottom:1px dotted #ccc;
}
body.section-tagung2013 h1.documentFirstHeading {
    padding-right:0px;
    
}

ul {
    padding-left:1.5em;
    margin-left:1em;
}
li {
    list-style-type: square;
	}

a,a:link,a:visited, a:hover {
    color:#ee7501;
                                color:#94c01a;
    text-decoration:none;
}
a.external-link {
    padding-left:16px;
    background: transparent url('/img/link_icon.png.gif') no-repeat top left;
}
.portlet-static-social-media-links a {
    padding-left:0;
    background: none;
}

table.grid {
    width:100%;
    border-collapse:collapse;
    background-color:#ccc;
    margin:0.5em 0;
}
table.grid tr {
    border-bottom:1px solid #ccc;    
}

table.grid tr td {
    margin-top:3px;
    background-color:white;
    padding:4px 10px;
}
table.plain,
table.listing {
    width:100%;
    border-collapse:collapse;
    background-color:#ccc;
    margin:2em 0;
}
table.plain th,
table.listing th {
    border-collapse:collapse;
    background-color:#fff;
    text-align:left;
    padding:4px 10px;
}
table.plain tr ,
table.listing tr {
    border-bottom:1px solid #e0e0e0;    
}

table.plain tr td,
table.listing tr td {
    margin-top:3px;
    background-color:white;
    padding:4px 10px;
}

.documentDescription {
    font-weight:bold;
    font-style:italic;
    margin:0.5em 0;
    font-color:#666;
}

img.image-left, img.image-right, .captioned img {
    border: none;
}
.image-right {
    float: right;
    margin: 0.5em;
}
.image-left {
    float: left;
    margin: 0.5em;
}
img {
    vertical-align: text-bottom;
}

.portletLogin img {display:none;}


.portlet-static-dias,
.portlet-static-zweitnavigation {display:none}


/* FORMULAR ------- */
.pfg-form {}

    .pfg-form .PFGFieldsetWidget {
        border:1px solid #ccc;
        margin:10px 0;
        padding:10px 20px;
    }
    .pfg-form .PFGFieldsetWidget legend {
        padding:0 10px;
        margin:0 -10px;
        color:#94c01a;
    }
    .pfg-form .field {
        margin:1em 0;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesStringWidget.field label.formQuestion,
    .pfg-form .PFGFieldsetWidget .ArchetypesSelectionWidget.field label.formQuestion { 
        float:left;
        width:150px;
        margin:4px 0;
        height:1.5em
                color:black;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesStringWidget.field,
    .pfg-form .PFGFieldsetWidget .ArchetypesSelectionWidget.field {
        height:2em;
        margin:10px 0;
    }

    .pfg-form .PFGFieldsetWidget.ArchetypesTextAreaWidget .textarea {
        width
    }


    .pfg-form .PFGFieldsetWidget .ArchetypesStringWidget.field.error,
    .pfg-form .PFGFieldsetWidget .ArchetypesBooleanWidget.field.error,  
    .pfg-form .PFGFieldsetWidget .ArchetypesSelectionWidget.field.error{
        background-color:#FFf6f6;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesBooleanWidget .fieldErrorBox {
        width:100%;
        background-color:#FFf6f6;
        margin:0 0 0.5em 0;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesStringWidget input {
        margin:2px 0;
        width:200px;
        padding:2px 2px;
    }

    .pfg-form .PFGFieldsetWidget .ArchetypesBooleanWidget {
        width:100%;
        min-height:2em;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesBooleanWidget input {
        float:left;
        margin:4px 4px 0 0;
    }
    .pfg-form .PFGFieldsetWidget .ArchetypesBooleanWidget label {
        float:left;
        width:95%;
            color:black;
    }
   .pfg-form .formHelp  {
        font-size:98%;
        color:#909090;
    }
   .pfg-form textarea  {
        font-size:98%;
        width:100%;
    }
   .pfg-form .fieldErrorBox {    
        color: red;
        display: block;
        float: right;
        font-size: 85%;
        margin: 4px 0;
        width: 260px;    
    }


.portalMessage.error {
    border:5px solid red;
    padding:1em;
    margin:1em 0;
    color:#c00;
    background-color:#FFf0f0;
}
.portalMessage.error dt {
    font-weight:bold;
    font-size:120%;
}


.eventDetails table.vertical.listing  {
    width:50%;
    border:1px solid #ccc;
    padding:20px;
    float:right;
}
    .eventDetails table.vertical.listing td,
    .eventDetails table.vertical.listing th {
        vertical-align:top;
        text-align:left;
    }

/* korrekturen ???????????*/
.ddsmoothmenu ul li a.selected {
    background: #eee repeat scroll 0 0 #FFFFFF !important;
    color: white;
}
.ddsmoothmenu ul li ul li a {
    height: 24px !important
}



#colophon {
	text-align:right;
        padding-top:0;
        margin-top:-10px;
	margin-bottom:10px;
} #colophon a {color:#666;}



/* bootstrap debugging ---- */

* {
    box-sizing: inherit !important;
}
