#plugins {
	.plugin-item {
		padding: 1rem 1rem 0 1rem;
		background: none repeat scroll 0 0 #FFFFFF;
		box-shadow: 3px 3px 0 0 #ececec;
		margin-left: 1rem;
        margin-right: 1rem;
		margin-bottom: 1rem;
	}
    .plugin-item-keywords {
	    display: none;
	}
	.plugins-items {
		padding-bottom: 2rem;
	}
	.plugin-item-header {
		margin: -1rem -1rem 1rem;
		padding: 0.5rem 1rem;
		background: none repeat scroll 0 0 #414849;
		overflow: hidden;
		.fa {
			position: absolute;
			right: 0;
			margin-right: 0.5rem;
			font-size: 4rem;
			color: rgba(255, 255, 255, 0.1);
		}
		h4 {
			position: relative;
			margin: 0;
			line-height: 1.5;
			font-family: Montserrat, Helvetica, Tahoma, Geneva, Arial, sans-serif;
			font-weight: 400;
			text-rendering: optimizelegibility;
			letter-spacing: 0;
			font-size: 1.2rem;
		}
		p {
			padding: 0;
		}
		a {
			color: #FFFFFF;
			font-weight: bold;
			font-size: 2rem;
		}
		.plugin-item-info {
			margin: 0;
			color: #8b9798;
			font-size: 1.2rem;
		}
		> span {
			float: right;
			color: #FFFFFF;
			font-weight: bold;
		}
	}
	.button {
		background: none repeat scroll 0 0 #FFFFFF;
		color: #3498db;
		border: 1px solid #3498db;
		border-radius: 3px;
		display: inline-block;
		padding: 7px 20px;
	}
	.plugin-item-content {
		padding-bottom: 2rem;
	}
	p {
		padding-left: 15px;
		padding-right: 15px;
	}
	.plugin-item-actions {
		margin-top: 2rem;
		text-align: center;
		padding-bottom: 1rem;
		left: 0;
		width: 100%;
	}
	.plugins-filter {
		display: inline-block;
		width: 100%;
		padding-left: 1rem;
		.search-wrapper {
		    input {
				padding-left: 1.75rem;
			    width: 100%;
			}
			margin-bottom: 1rem;
			position: relative;
			padding-left: 0;
			padding-right: 0;
			.fa-search {
				position: absolute;
				top: 0.65rem;
			    left: 0.5rem;
				font-size: 15px;
			}
		}
	}
	.plugin-item-links {
		margin: -1rem -1rem 1rem -1rem;
		padding: 0.5rem 0.5rem 0.5rem;
		background: #353b3c;
		a {
			display: block;
			float: left;
			padding: 0 10px;
			margin-right: .4rem;
			font-size: 1.2rem;
			background: transparent;
			border-color: #717e7f;
			color: #a6afb0;
		}
	}
}
.changelog {
	margin-top: -2rem;
	h1 {
		margin: 1.2rem 0 0 0;
		font-size: 1.5rem;
		line-height: 1;
		+ h2 {
			font-size: 1rem;
			margin: 0 0 0.2rem 0;
			color: #666;
		}
	}
	ol {
        list-style: none;
        padding: 0;
        margin: 0 0 3rem 0;

        a[href='#new'] {
            & + ul > li {
                &:before {
                    background-color: #207DE5;
                    content: 'New';
                }
            }
        }
        a[href='#improved'] {
            & + ul > li {
                &:before {
                    background-color: #FBCA04;
                    color: #333;
                    content: 'Improved';
                }
            }
        }
        a[href='#bugfix'] {
            & + ul > li {
                &:before {
                    background-color: #FC2929;
                    content: 'Bugfix';
                }
            }
        }
    }
	ul {
		list-style: none;
		padding: 0;
		li {
			margin-bottom: 0.1rem;
			padding-left: 6rem;
			&:before {
				margin-left: -6rem;
				display: inline-block;
				border-radius: 2px;
				color: #FFFFFF;
				font-weight: bold;
				margin-right: 1rem;
				text-align: center;
				width: 5rem;
				font-size: 1rem;
				font-style: normal;
			}
		}
	}
}
#modal-title {
	text-align: center;
	font-size: 3rem;
}