; vim: set fileencoding=utf-8 :
; Manuel Guenther <manuel.guenther@idiap.ch>
; Mon Aug 25 15:44:24 CEST 2014

[buildout]
parts = scripts
eggs = bob.extension
       bob.blitz
       bob.core
       bob.io.base
       bob.ip.color
       bob.ip.draw
       bob.math
       bob.measure
       bob.learn.activation
       bob.learn.linear
       bob.learn.libsvm
       antispoofing.utils
extensions = bob.buildout
develop = .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[scripts]
recipe = bob.buildout:scripts

