body {
    padding: 20px 0;
}

h1.title {
    font-size: 46px;
}

h1 {
    font-weight: bold;
    line-height: 120%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d2d7e3;
}

.document > .section {
    margin-top: 70px;
}

.document > .section > .section {
    margin-top: 25px;
}

.toc-backref {
    color: black;
}

.pre {
    word-wrap: break-word;

    display : block;
    padding: 9px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;

    max-height: 650px;
    overflow: hidden;

    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clear {
    clear: both;
}

#contents {
    font-size: 90%;
    max-width: 800px;

    border-left: 5px solid #e6e6e6;
    padding: 10px 10px 10px 25px;
}

#contents > ul, #contents > ul > li > ul {
    padding: 0;
}

#contents > ul > li {
    margin-bottom: 10px;
    list-style-type: none;
}

#contents > ul > li > a {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #d2d7e3;
    font-size: 14px;
    font-weight: bold;
}


#contents > ul > li > ul > li {
    float: left;
    display: block;
    width: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.topic-title {
    font-size: 18px;
    font-weight: bold;
}

.table-striped {
    max-width: 800px;
}

.request-block {
    background: #fbfbfb;
    margin-bottom: 25px;
}

.request-block .pre {
    background: #fbfbfb;
}

.request-block .header {
    background: #efefef;
    padding: 6px 0 4px 0;
}

.request-block .header > div {
    display: inline-block;
}

.request-block .method .label {
    padding: 7px 15px;
    height: 100%;
    font-size: 15px;
    border-radius: 0;
}

.request-block .url {
    padding: 7px 0;
}

.request-block code.url {
    color: black;
    background: none;
    font-size: 14px;
}

.request-block .subheader {
    font-size: 11px;
    padding: 3px 10px 2px 10px;
    background: #e7e7e7;
}

.request-block .exports {
    float: right;
}

.request-block .headers {
    overflow-y: hidden;
}

.request-block table {
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.request-block table td {
    padding: 10px;
    vertical-align: top;
}

.request-block .pre {
    border: 0;
    min-height: 100%;
}

#toc {
    font-size: 90%;
}

#toc li:not(.active) > ul {
    display: none;
}

#toc li {
    padding-left: 4px;
}

#toc a {
    display: block;
    padding: 2px 0;
}

#toc a:hover {
    background: none;
}

#toc > ul > li > a {
    font-weight: bold;
}

#toc > ul > li > ul > li > ul > li > a {
    font-style: italic;
}
