[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

versions = versions
package-name = ps.plone.mls
package-extras = [test]
eggs +=
    Products.PrintingMailHost
    plone.mls.listing[fotorama]
    ps.plone.realestatefont

test-eggs += Pillow
robot_tests_folder = ${buildout:directory}/src/ps/plone/mls/tests/robot
sphinx_extras =
    sphinxcontrib-robotdoc
    sphinxcontrib-httpdomain

parts +=
    i18ndude
    node
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    robot
    testnorobot
    sphinxbuilder
    updatedocsimages
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout =
    mls.apiclient
    plone.mls.core
    plone.mls.listing
    ps.plone.realestatefont
always-checkout = true


[code-analysis]
clean-lines = True
csslint = True
csslint-bin = ${buildout:bin-directory}/csslint
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/ps/plone/mls
find-untranslated = True
flake8-ignore = E501
flake8-max-complexity = 12
i18ndude-bin = ${buildout:bin-directory}/i18ndude
jshint = True
jshint-bin = ${buildout:bin-directory}/jshint
pep3101 = True
pre-commit-hook = True
prefer-single-quotes = True
utf8-header = True
zptlint = True
zptlint-bin = ${buildout:bin-directory}/zptlint


[sources]
mls.apiclient = git git://github.com/propertyshelf/mls.apiclient.git
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
plone.mls.listing = git git://github.com/propertyshelf/plone.mls.listing.git
ps.plone.realestatefont= git git://github.com/propertyshelf/ps.plone.realestatefont.git


[versions]
plone.app.jquery = 1.8.3
plone.app.testing = 4.2.4
plone.mls.core =
plone.mls.listing =
ps.plone.mls =
ps.plone.realestatefont =
pygments = 1.6
Pygments = 1.6
robotframework-selenium2screenshots = 0.6
