[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

versions = versions
package-name = ps.plone.mls
package-extras = [test]
test-eggs = Pillow
parts +=
    createcoverage
    node
    zptlint

# network speedup
socket-timeout = 3
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    code.google.com
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net
    robotframework.googlecode.com

extensions += mr.developer

sources-dir = checkouts
auto-checkout =
    mls.apiclient
    plone.mls.core
    plone.mls.listing


[code-analysis]
clean-lines = True
csslint = True
csslint-bin = ${buildout:bin-directory}/csslint
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/ps/plone/mls
flake8-ignore = E501
flake8-max-complexity = 12
jshint = True
jshint-bin = ${buildout:bin-directory}/jshint
pep3101 = True
pre-commit-hook = False
prefer-single-quotes = True
utf8-header = True
zptlint = True
zptlint-bin = ${buildout:bin-directory}/zptlint


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[sources]
mls.apiclient = git git://github.com/propertyshelf/mls.apiclient.git
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
plone.mls.listing = git git://github.com/propertyshelf/plone.mls.listing.git


[versions-4.1.x]
plone.app.testing = 4.2.2

# Required by plone.app.dexterity >= 2.0
z3c.form = 3.0.0a3
plone.app.z3cform = 0.7.2
collective.js.jqueryui = 1.8.16.9
collective.z3cform.datetimewidget = 1.2.3
collective.z3cform.widgets = 1.0b5

# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6


[versions-4.2.x]
# 4.2.7 is currently not available as UnifiedInstaller.
Plone = 4.2.6
collective.js.jqueryui = 1.8.16.9

# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6


[versions-4.3.x]
# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6
plone.app.jquery = 1.8.3
