.diot_xml{
	background-color: rgb(167, 247, 186);
}

.extemporanea{
	background-color: rgb(255, 105, 105);
}

.genero_ext{
	background-color: #919191;
	font-weight: bold;
}

.celda_colores{
	width:20%;
	margin: 8px;
	padding: 8px; 
}

.captura_manual{
	background-color: rgb(112, 165, 249);
}