
/*
 * Graph styles, those only applies to the web, not SVG
 */

#graph {
    border: 1px solid black;
    height: 700px;
}

#graph img.ajaxloader {
    display: block;
    margin: 2em auto 0 auto;
}

#graph > svg {
    display: block;
    margin: 0 auto;
}

.node circle {
    cursor: move;
}



/*
 * Footer
 */

#graph-footer {
    margin-top: 1em;
    text-align: center;
    font-size: 90%;
}
#graph-footer p {
    margin-top: 0.2em;
    margin-bottom: 0;
}
#legend ul {
    display: inline;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#legend ul li {
    display: inline-block;
    margin-left: 1em;
}
#legend ul li span {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: baseline;
}
#legend ul li a {
    text-decoration: none;
    color: black;
    outline: none;
}
#legend ul li a:hover {
    text-decoration: none;
}

#graph-actions {
    margin-top: 0.5em;
}

/* Anonymous button */
#btn-anonymous span.glyphicon-eye-open,
#btn-anonymous.active span.glyphicon-eye-close {
    display: inline;
}
#btn-anonymous.active span.glyphicon-eye-open,
#btn-anonymous span.glyphicon-eye-close {
    display: none;
}

#linkdistance {
    width: 85px;
    margin: 0 0.5em;
    display: inline-block;
}
#linkdistance .ui-slider-handle {
    outline: none;
}


/*
 * Generic
 */

.flashmessage > div {
    text-align: center;
}
.flashmessage .alert {
    display: inline-block;
}
.flashmessage.dismissible {
    position: absolute;
    left: 50%;
}
.flashmessage.dismissible .alert-dismissible {
    position: relative;
    left: -50%;
    z-index: 5;
}

.navbar-brand img { display: inline }

.loadable {
    width: 16px;
    height: 16px;
    margin: 5px auto;
    background-image: url("ajax-loader.gif");
}

.smaller {
    font-size: 70%;
}
.smaller .glyphicon {
    font-size: 85%;
}


/*
 * Front page
 */

img.signin {
    cursor: pointer;
    vertical-align: middle;
}

div.newgraph {
    margin-top: 4em;
}

.graphlist li a {
    margin-right: 0.5em;
}


/*
 * Admin
 */

table.table.table-centered {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
table.table.table-centered th {
    text-align: center;
}
table.table.table-centered td {
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

input.form-control.color {
    width: 5em;
}



/*
 * Footer
 */
#footer {
    margin-top: 4em;
}
#footer p {
    text-align: center;
    font-size: 90%;
    color: #777;
}


/*
 * Autocomplete
 */
.tt-dropdown-menu {
    border-left: 1px solid #66afe9;
    border-right: 1px solid #66afe9;
    border-bottom: 1px solid #66afe9;
    padding: 2px 0px;
    border-radius: 3px;
    background-color: #ffffff;
}
.tt-dropdown-menu .tt-suggestion p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.tt-dropdown-menu .tt-suggestion {
    padding: 0.2em 1.5em;
    cursor: pointer;
}
.tt-dropdown-menu .tt-cursor {
    background-color: #eeeeee;
}
