[buildout]
parts =
    test
develop = .
allow-picked-versions = true
show-picked-versions = true

[test]
recipe = zc.recipe.egg
scripts = py.test=test
eggs =
    gocept.webtoken
    pytest
    pytest-remove-stale-bytecode

[versions]
PyJWT = 1.4.0
cffi = 1.2.1
cryptography = 1.0.2
idna = 2.0
py = 1.4.30
pyasn1 = 0.1.9
pycparser = 2.14
pytest = 2.8.1
pytest-remove-stale-bytecode = 2.1
setuptools = 18.3.2
six = 1.9.0
zc.buildout = 2.4.3
zc.recipe.egg = 2.0.2
zope.component = 4.2.2
zope.event = 4.0.3
zope.interface = 4.1.2
