$footer-background-color: $gray-dark !default;
$footer-font-color: #fff !default;
$footer-font-size: $font-size-base !default;
$footer-link-color: $link-color !default;
$footer-link-font-weight: $link-font-weight !default;
$footer-link-color-hover: $link-hover-color !default;
$footer-link-decoration: $link-decoration !default;
$footer-link-hover-decoration: $link-hover-decoration !default;

@include declare-variables(
  footer-background-color,
  footer-font-color,
  footer-link-color,
  footer-link-color-hover,
  footer-font-size,
  footer-link-decoration);

#ftw-footer {
  background: $footer-background-color;
  color: $footer-font-color;
  font-size: $footer-font-size;
  a {
    color: $footer-link-color;
    text-decoration: $footer-link-decoration;
    font-weight: $footer-link-font-weight;
    &:hover {
        color: $footer-link-color-hover;
        text-decoration: $footer-link-hover-decoration;
    }
  }
  .portletItem {
    margin-left: 0;
  }

}
