/* line 2, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item {
  padding: 1rem 1rem 0 1rem;
  background: none repeat scroll 0 0 #FFFFFF;
  width: 31%;
  box-shadow: 3px 3px 0 0 #ececec;
  margin-left: 1rem;
  margin-right: 1rem; }

/* line 10, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item-keywords {
  display: none; }

/* line 13, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugins-items {
  padding-bottom: 2rem; }

/* line 16, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item-header {
  margin: -1rem -1rem 1rem;
  padding: 0.5rem 1rem;
  background: none repeat scroll 0 0 #414849;
  overflow: hidden; }
  /* line 21, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header .fa {
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.1); }
  /* line 28, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header h4 {
    position: relative;
    margin: 0;
    line-height: 1.5;
    font-family: Montserrat, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizelegibility;
    letter-spacing: 0;
    font-size: 1.2rem; }
  /* line 38, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header p {
    padding: 0; }
  /* line 41, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem; }
  /* line 46, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header .plugin-item-info {
    margin: 0;
    color: #8b9798;
    font-size: 1.2rem; }
  /* line 51, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-header > span {
    float: right;
    color: #FFFFFF;
    font-weight: bold; }

/* line 57, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .button {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 20px; }

/* line 65, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item-content {
  padding-bottom: 2rem; }

/* line 68, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins p {
  padding-left: 15px;
  padding-right: 15px; }

/* line 72, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item-actions {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  left: 0;
  width: 100%; }

/* line 79, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugins-filter {
  display: inline-block;
  width: 100%;
  padding-left: 1rem; }
  /* line 83, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugins-filter .search-wrapper {
    width: 50%;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block; }
    /* line 84, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    #plugins .plugins-filter .search-wrapper input {
      padding-left: 1.75rem; }
    /* line 91, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    #plugins .plugins-filter .search-wrapper .fa-search {
      position: absolute;
      top: 0.65rem;
      left: 0.5rem;
      font-size: 15px; }

/* line 99, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#plugins .plugin-item-links {
  margin: -1rem -1rem 1rem -1rem;
  padding: 0.5rem 0.5rem 0.5rem;
  background: #353b3c; }
  /* line 103, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  #plugins .plugin-item-links a {
    display: block;
    float: left;
    padding: 0 10px;
    margin-right: .4rem;
    font-size: 1.2rem;
    background: transparent;
    border-color: #717e7f;
    color: #a6afb0; }

/* line 115, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
.changelog {
  margin-top: -2rem; }
  /* line 117, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  .changelog h1 {
    margin: 1.2rem 0 0 0;
    font-size: 1.5rem;
    line-height: 1; }
    /* line 121, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    .changelog h1 + h2 {
      font-size: 1rem;
      margin: 0 0 0.2rem 0;
      color: #666; }
  /* line 127, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  .changelog ol {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem 0; }
    /* line 134, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    .changelog ol a[href='#new'] + ul > li:before {
      background-color: #207DE5;
      content: 'New'; }
    /* line 142, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    .changelog ol a[href='#improved'] + ul > li:before {
      background-color: #FBCA04;
      color: #333;
      content: 'Improved'; }
    /* line 151, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    .changelog ol a[href='#bugfix'] + ul > li:before {
      background-color: #FC2929;
      content: 'Bugfix'; }
  /* line 158, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
  .changelog ul {
    list-style: none;
    padding: 0; }
    /* line 161, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
    .changelog ul li {
      margin-bottom: 0.1rem;
      padding-left: 6rem; }
      /* line 164, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
      .changelog ul li:before {
        margin-left: -6rem;
        display: inline-block;
        border-radius: 2px;
        color: #FFFFFF;
        font-weight: bold;
        margin-right: 1rem;
        text-align: center;
        width: 5rem;
        font-size: 1rem;
        font-style: normal; }

/* line 179, /home/seraf/Sandbox/lisa-api/lisa_api/frontend/static/css/plugins.scss */
#modal-title {
  text-align: center;
  font-size: 3rem; }
