body {
    margin: 0;
}

pre {
    margin: 0;
}


.symbol {
    color : #0099CC;
}

.sourcefile {
    color : #006666;
}

.current {
    color: #006666;
    background-color : gray;
    width: 100%;
}

.breakpoint {
    color: maroon;
    background-color : black;
}

.error {
    color: purple
}


